.logo{
    max-width: 30%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}
.header-logo {
    background-color: white;
    text-align: center;
}
.header-text {
	font-family: 'Montserrat';
	font-weight: 400;
	letter-spacing: 0.2em;
	color: white;
	font-size: 3em;
	margin-bottom: 0;

}

