.logo{
    max-width: 50%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top:6.5em;
    margin-bottom:3em;
}
.header-logo {
    /*background-color: white;*/
	background-image: url("../../images/toronto_img_washed.jpg"); 
	background-size: cover;
	/*background-position: top right, center center;*/
	background-repeat: no-repeat;
	text-align: center;
	display: inline-block;
}
.header-text {
	font-family: 'Montserrat';
	font-weight: 400;
	letter-spacing: 0.2em;
	color: white;
	font-size: 3em;
	margin-bottom: 0;

}

#reg-link {
	margin-bottom: 1.5em; 
}

#register-link {
	font-size: 1.5em;
	color: white;
	font-weight: 300;
	-o-transition: 1s;
  	-ms-transition: 1s;
  	-moz-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;  
}

#register-link:hover {
	text-decoration: none;
	border-bottom: 2px solid darkred;

}